<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <meta name="author" content="Tech Blog">
    <title>Tech Blog | Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
    <header class="display-flex justify-center align-center">
        <h1 class="logo">Your Dashboard</h1>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="display-flex justify-center align-center">
        <a href="/dashboard/newPost"> + New Post</a>
    </footer>
</body>
</html>

<script src="/js/logout.js"></script>